/*universal properties */
body, html {
	height: 100%;
	font-family: 'Source Sans 3';
	color: white;
}

.hero-image {
 	background-image: url("banner.png");
 	height: 30%;
 	background-position: center;
  background-repeat: no-repeat;
 	background-size: cover;
  position: relative;
}

#navbar {
	overflow: hidden;
	background-color: #444c66;
	z-index: 1;
}

#navbar h1{
  float: left;
  margin-left: 20px;    /* if you want it vertically middle of the navbar. */
}

#navbar a {
  float: right;
	display: block;
  margin-top: 25px;
  margin-right: 10px;
	color: #f2f2f2;
	text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: blue;
  background-color: white;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

h1 {
	text-align: center;
	font-family: 'Oswald';
}

.home {
	height: 70%;
  background-position: center;
  margin: 10px;
  padding: 5px;
  word-wrap: break-word;
  position: relative;
  text-align: center;
}

.aboutme {
	width: 30%;
  word-wrap: break-word;
  overflow: auto;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 70px;
  padding: 20px;
  font-size: 23px;
  line-height: 150%;
  background-color: #767678;
  position: relative;
}

.firstgame {
	width: 700px;
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 70px;
  padding: 20px;
  font-size: 23px;
  line-height: 150%;
  background-color: #767678;
  position: relative;
}

.secondgame {
	width: 30%;
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 70px;
  padding: 20px;
  font-size: 23px;
  line-height: 150%;
  background-color: #767678;
  position: relative;
  transform: translate(0, -150px);
}

.thirdgame {
	width: 30%;
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 70px;
  padding: 20px;
  font-size: 23px;
  line-height: 150%;
  background-color: #767678;
  position: relative;
  transform: translate(0, -300px);
}

.fourthgame {
	width: 30%;
  word-wrap: break-word;
  overflow: auto;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 70px;
  padding: 20px;
  font-size: 23px;
  line-height: 150%;
  background-color: #767678;
  position: relative;
  transform: translate(0, -450px);
}

.contact {
	width: 30%;
  word-wrap: break-word;
  overflow: auto;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-right: auto;
  margin-left: auto;
  background-color: #767678;
}

.img1 {
 	height: 500px;
 	transform: translate(900px, -500px);
}
.img2 {
 	height: 60%;
 	transform: translate(900px, -650px);
}
.img3 {
 	height: 60%;
 	transform: translate(825px, -850px);
}
.img4 {
 	height: 60%;
 	transform: translate(900px, -950px);
}

.line1 {
	width: 700px;
	transform: translate(0, -400px);
}

.line2 {
	width: 700px;
	transform: translate(0, -500px);
}

.line3 {
	width: 700px;
	transform: translate(0, -650px);
}

.zelda {
	width: 400px;
	display: block;
	position: absolute;
	transform: translate(800px, -650px);
}

.spiderman {
	width: 500px;
	display: block;
	position: absolute;
	transform: translate(1210px, -650px);
}

.sonic {
	width: 500px;
	height: 326px;
	display: block;
	position: absolute;
	transform: translate(1210px, -360px);
}

.button {
  background-color: #1E236A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  color: #1E236A;
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}